<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Recipes catalog">
        <meta name="author" content="Bogdan Gersak">
        <title>Recipes catalog - Full Stack Nanodegree</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/recipes.css" rel="stylesheet">
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
    </head>
    <body>
        {% block navigation %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Recipes catalog</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/categories">Categories</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('recipes.new') }}"><i class="fa fa-plus fa-fw"></i> Add recipe</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('recipes.index') }}"><i class="fa fa-list fa-fw"></i> My recipes</a>
                                </li>
                                {% if current_user.is_admin %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('categories.index') }}"><i class="fa fa-pencil fa-fw"></i> Edit categories</a>
                                </li>
                                {% endif %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('oauth.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                            <ul class="dropdown-menu social">
                                <li>
                                    <a href="{{ url_for('oauth.authorize', provider='facebook') }}"><i class="fa fa-facebook-square fa-2x fa-fw"></i> Facebook</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('oauth.authorize', provider='twitter') }}"><i class="fa fa-twitter-square fa-2x fa-fw"></i> Twitter</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('oauth.authorize', provider='google') }}"><i class="fa fa-google-plus-square fa-2x fa-fw"></i> Google+</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>

        </nav>
        {% endblock %}

        {% block carousel %}
        <header id="myCarousel" class="carousel slide">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item">
                    <div class="fill" style="background-image:url('/static/images/recipes-carousel-1.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>The Perfect Burger Recipes</h1>
                    </div>
                </div>
                <div class="item active">
                    <div class="fill" style="background-image:url('/static/images/recipes-carousel-2.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>Best Sushi Recipes</h1>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('/static/images/recipes-carousel-3.jpg');"></div>
                    <div class="carousel-caption">
                        <h1>Quick Party Appetizers</h1>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for type, message in messages %}
        <div class="recipe-alert text-center">
            <div class="alert alert-{{ type }} fade in">
              <button class="close" data-dismiss="alert">×</button>
              {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="container">
            {% block content %}{% endblock %}
            <hr />
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Recipes catalog 2015</p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/recipes.js"></script>
    </body>
</html>
