{% extends 'layout.html' %}
                {% block carousel %}{% endblock %}
                {% block content %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{ category.name }} Recipes</h1>
                    </div>
                </div>

                <div class="row">
                {% if recipes|length == 0 %}
                    <div class="col-lg-12 text-center">
                        <strong>Hmm, there are no recipes in this category yet! <a href="{{ url_for('recipes.new') }}">Add one!</a></strong>
                    </div>
                {% else %}
                    {% for recipe in recipes %}
                    <div class="col-md-3 col-sm-6">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <a href="{{ url_for('recipes.view', recipe_id=recipe.id, slug=recipe.slug) }}">
                                    <img class="img-responsive img-rounded img-hover img-category" src="{{ recipe.image_src }}">
                                </a>
                                <h5 title="{{ recipe.title }}"><i>{{ recipe.title }}</i></h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>

                {% endblock %}

