{% extends 'layout.html' %}
                {% block carousel %}{% endblock %}
                {% block content %}

                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Add recipe</h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <form name="recipeForm" id="newRecipeForm" method="post" novalidate>
                        {{ form.csrf_token }}
                        <div class="col-md-8">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Category:</label>
                                    {{ form.category(class='form-control', **{'data-validation-required-message':'Please select category'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Recipe title:</label>
                                    {{ form.title(class='form-control', required=true, **{'data-validation-required-message':'Please enter recipe title'}) }}
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Description:</label>
                                    {{ form.description(rows=3, cols=100, class='form-control', required=true, maxlength=250, style='resize:none', **{'data-validation-required-message':'Please enter a description'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ingredients:</label>
                                    {{ form.ingredients(rows=7, cols=100, class='form-control', required=true, maxlength=999, placeholder='Put each ingredient on its own line.', **{'data-validation-required-message':'Please add some ingredients'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Directions:</label>
                                    {{ form.directions(rows=7, cols=100, class='form-control', required=true, maxlength=999, placeholder='Put each step on its own line.', **{'data-validation-required-message':'Please enter directions'}) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Recipe</button>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Prep time:</label>
                                            {{ form.prep_time(class='form-control', required=true, **{'data-validation-required-message':'Please add preparation time'}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Cook time:</label>
                                            {{ form.cook_time(class='form-control', required=true, **{'data-validation-required-message':'Please add cook time'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Number of servings:</label>
                                            {{ form.servings(class='form-control', required=true, **{'data-validation-required-message':'Please add number of servings'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 1:</label>
                                            <input type="file" class="form-control" id="photo-1" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 2:</label>
                                            <input type="file" class="form-control" id="photo-2" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 3:</label>
                                            <input type="file" class="form-control" id="photo-3" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <hr />

                {% endblock %}
