{% extends 'layout.html' %}
                {% block carousel %}{% endblock %}
                {% block content %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Add New Recipe</h1>
                    </div>
                </div>

                <form name="newRecipeForm" id="newRecipeForm" method="post" enctype="multipart/form-data" novalidate>
                    <div class="row">
                        {{ form.csrf_token }}
                        <div class="col-md-8">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Category:</label>
                                    {{ form.category(class='form-control', **{'data-validation-required-message':'Please select category'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Title:</label>
                                    {{ form.title(class='form-control', required=true, maxlength=200, **{'data-validation-required-message':'Please enter recipe title'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Description:</label>
                                    {{ form.description(rows=3, cols=100, class='form-control', required=true, maxlength=500, **{'data-validation-required-message':'Please enter a description'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ingredients:</label>
                                    {{ form.ingredients(rows=7, cols=100, class='form-control', required=true, maxlength=4000, placeholder='Put each ingredient on its own line.', **{'data-validation-required-message':'Please add some ingredients'}) }}
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Directions:</label>
                                    {{ form.directions(rows=7, cols=100, class='form-control', required=true, maxlength=4000, placeholder='Put each step on its own line.', **{'data-validation-required-message':'Please enter directions'}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Prep time:</label>
                                            {{ form.prep_time(class='form-control', required=true, **{'data-validation-required-message':'Please add preparation time'}) }}
                                            <p class="help-block">Mins: 15, 45, 135</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Cook time:</label>
                                            {{ form.cook_time(class='form-control', required=true, **{'data-validation-required-message':'Please add cook time'}) }}
                                            <p class="help-block">Mins: 5, 20, 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Number of servings:</label>
                                            {{ form.servings(class='form-control', required=true, **{'data-validation-required-message':'Please add number of servings'}) }}
                                            <p class="help-block">Nr of servings: 1, 3, 5, 10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Image 1:</label>
                                            {{ form.image1(class='form-control') }}
                                            <p class="help-block">Required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Image 2:</label>
                                            {{ form.image2(class='form-control') }}
                                            <p class="help-block">Optional</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Image 3:</label>
                                            {{ form.image3(class='form-control') }}
                                            <p class="help-block">Optional</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">Save Recipe</button>
                        </div>
                    </div>
                </form>

                {% endblock %}
