{% extends 'layout.html' %}
                {% block carousel %}{% endblock %}
                {% block content %}

                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Add recipe</h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="col-md-8">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Recipe title:</label>
                                    <input type="text" class="form-control" id="title" required data-validation-required-message="Please enter recipe title.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Description:</label>
                                    <textarea rows="3" cols="100" class="form-control" id="description" required data-validation-required-message="Please enter a description" maxlength="999" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ingredients:</label>
                                    <textarea rows="7" cols="100" class="form-control" id="description" required data-validation-required-message="Please enter ingredients" placeholder="Put each ingredient on its own line." maxlength="999"></textarea>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Directions:</label>
                                    <textarea rows="7" cols="100" class="form-control" id="description" required data-validation-required-message="Please enter directions" placeholder="Put each step on its own line." maxlength="999"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Recipe</button>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Prep time:</label>
                                            <input type="text" class="form-control" id="prep-time" required data-validation-required-message="Please enter preparation time.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Cook time:</label>
                                            <input type="text" class="form-control" id="cook-time" required data-validation-required-message="Please enter cook time.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Number of servings:</label>
                                            <input type="text" class="form-control" id="number-of-servings" required data-validation-required-message="Please enter number of servings.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 1:</label>
                                            <input type="file" class="form-control" id="photo-1" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 2:</label>
                                            <input type="file" class="form-control" id="photo-2" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Photo 3:</label>
                                            <input type="file" class="form-control" id="photo-3" required data-validation-required-message="Please add photo.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <hr />

                {% endblock %}
