{% extends 'layout.html' %}
                {% block carousel %}{% endblock %}
                {% block content %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% if current_user.is_authenticated and current_user.id == recipe.user.id %}
                            <a class="category" href="{{ url_for('recipes.edit', recipe_id=recipe.id) }}" title="Edit">
                                <i class="fa fa-pencil-square-o fa-fw"></i>
                            </a>
                            {% endif %}
                            {{ recipe.title }}
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <i class="fa fa-clock-o fa-fw fa-2x"></i> {{ recipe.formated_prep_time }}
                            <i class="fa fa-fire fa-fw fa-2x"></i> {{ recipe.formated_cook_time }}
                            <i class="fa fa-users fa-fw fa-2x"></i> {{ recipe.servings }}
                        </div>
                        <h4>Description</h4>
                        <p><i>{{ recipe.description }}</i></p>
                        <h4 class="ingredients-header">Ingredients</h4>
                        <ul class="list-unstyled ingredients">
                            {% for ingredient in recipe.ingredients.splitlines() %}
                            <li><i class="fa fa-fw fa-chevron-right"></i> {{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for id in range(0, recipe.images.count()) %}
                                <li data-target="#myCarousel" data-slide-to="{{ id }}" {% if id == 0 %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner">
                                {% if recipe.images.count() == 0 %}
                                <div class="item active">
                                    <img class="img-responsive img-rounded" src="{{ recipe.image_src }}">
                                </div>
                                {% else %}
                                {% set active = false %}
                                {% for image in recipe.images %}
                                <div class="item{% if active == False %} active{% set active = true %}{% endif %}">
                                    <img class="img-responsive img-rounded" src="{{ image.src }}">
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Directions</h4>
                        <ul class="list-unstyled ingredients">
                            {% set step_index = 1 %}
                            {% for step in recipe.directions.splitlines() %}
                            {% if step %}
                            <li>
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <span class="fa fa-stack-1x fa-inverse">{{ step_index }}</span>
                                </span>
                                {{ step }}
                            </li>
                            {% set step_index = step_index + 1 %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
