{% extends 'layout.html' %}

                {% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Latest recipes</h3>
                    </div>
                    {% if recipes|length == 0 %}
                    <div class="col-lg-12 text-center">
                        <strong>Oops, there are no recipes yet! <a href="{{ url_for('recipes.new') }}">Add one right now!</a></strong>
                    </div>
                    {% else %}
                    {% for recipe in recipes %}
                    <div class="col-md-3 col-sm-6">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <a href="{{ url_for('recipes.view', recipe_id=recipe.id, slug=recipe.slug) }}">
                                    <img class="img-responsive img-rounded img-hover img-category" src="{{ recipe.image_src }}">
                                </a>
                                <h5 title="{{ recipe.title }}"><i>{{ recipe.title }}</i></h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Popular categories</h3>
                    </div>
                    {% for category in categories %}
                    <div class="col-md-2 col-sm-6">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <a class="category" href="{{ url_for('recipes.category', category_id=category.id, slug=category.slug) }}" title="View recipes">
                                    <img class="img-responsive img-category img-circle" src="{{ category.image_src }}" />
                                    <span>{{ category.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
